.scroll-pane {
    -fx-background-color: #141414;
}

.scroll-pane .viewport {
    -fx-background-color: #141414;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: #1f1f1f;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #444;
    -fx-background-radius: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-opacity: 0;
}

.combo-box {
    -fx-background-color: #222;
    -fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #222;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #222;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #333;
}
.combo-box-popup .scroll-pane {
    -fx-background-color: #222;
}

.combo-box-popup .scroll-pane .viewport {
    -fx-background-color: #222;
}
.label {
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #222;
}

.combo-box-popup .scroll-pane {
    -fx-background-color: #222;
}


.combo-box-popup .scroll-pane .viewport {
    -fx-background-color: #222;
}

.combo-box-popup .corner {
    -fx-background-color: #222;
}


.movie-card {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 6;
    -fx-padding: 6;
    -fx-cursor: hand;
}

.movie-card:hover {
    -fx-background-color: #181818;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}
.button {
    -fx-cursor: hand;
}
.combo-box {
    -fx-cursor: hand;
}

.button.nav-button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-padding: 6 14;
    -fx-cursor: hand;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button.nav-button:hover {
    -fx-background-color: #444444;
}

.button.nav-button.active {
    -fx-background-color: #e50914;
}

.button.nav-button.active:hover {
    -fx-background-color: #ff2a2a;
}

.button.nav-button:pressed {
    -fx-translate-y: 1;
    -fx-padding: 7 14 5 14;
}

.button.nav-button-home {
    -fx-background-color: #e85046;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-padding: 6 14;
    -fx-cursor: hand;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
